body {
  margin: 0px;
}

.App {
  font-family: "Inter";
  text-align: center;
  margin: 10px;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.button-group > Button {
  margin: 5px;
}
